footer {
  padding-top: 14px;
  padding-bottom: 19px;

  @media only screen and (min-width: @screen-md) {
    padding-top: 19px;
    padding-bottom: 28px;
  }
  
  @media only screen and (min-width: @screen-lg) {
    padding-top: 12px;
  }
}

.pagination {
  display: flex;
  align-items: baseline;
}

.pagination-item {
  margin-right: 1px;

  @media only screen and (min-width: @screen-md) {
    margin-right: 11px;
  }
}

.pagination-item__link {
  display: flex;
  width: 34px;
  height: 33px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #000;

  &.active {
    font-weight: bold;
  }

  &.active,
  &:hover {
    background-color: @grey-lighten;
  }
}

.pagination-item__next {
  margin-left: 21px;
  font-size: 13px;
  color: #000;

  @media only screen and (min-width: @screen-md) {
    margin-left: 13px;
  }
}

.pagination-description {
  display: inline-block;
  padding-right: 22px;
  font-size: 13px;
}

.mobile-hidden {
  display: none;

  @media only screen and (min-width: @screen-md) {
    display: inline-block;
  }
}

.desktop-hidden {
  @media only screen and (min-width: @screen-lg) {
    display: none;
  }
}

.desktop-shown {
  display: none;

  @media only screen and (min-width: @screen-lg) {
    display: inline-block;
  }
}
