.header-title-wrapper {
  height: 66px;
  .css-lock-px(height, 66px, 107px, @screen-sm, @screen-md);
  .css-lock-px(height, 107px, 104px, @screen-md, @screen-lg);

  @media only screen and (min-width: @screen-md) {
    height: 107px;
  }

  @media only screen and (min-width: @screen-lg) {
    height: 104px;
  }
}

.header-title {
  position: relative;
  padding-top: 23px;
  .css-lock-px(padding-top, 23px, 39px, @screen-sm, @screen-md);
  .css-lock-px(padding-top, 39px, 37px, @screen-md, @screen-lg);
  line-height: 100%;
  font-size: 1.625rem;
  .css-lock(font-size, 1.625rem, 2.5rem, @screen-sm, @screen-md);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 3px;
    // .css-lock(bottom, 3px, 2px, @screen-sm, @screen-md);
    display: block;
    width: 119px;
    .css-lock-px(width, 119px, 157px, @screen-sm, @screen-md);
    .css-lock-px(width, 157px, 420px, @screen-md, @screen-lg);
    height: 2px;
    background-color: #000;
  }
}

.header-photo {
  position: relative;

  &__image {
    & > img {
      width: 100%;
      height: auto;
    }
  }
}

.header-photo-date {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 80px;
  height: 53px;
  .css-lock-px(width, 80px, 160px, @screen-md, @screen-lg);
  .css-lock-px(height, 53px, 104px, @screen-md, @screen-lg);
  background: rgba(255,255,255, 0.8);
  .date-card-mixin();

  &:after {
    @media only screen and (min-width: @screen-lg) {
      content: '';
      position: absolute;
      right: 20px;
      bottom: 64px;
      display: block;
      width: 0;
      height: 0;
      border-left: 3px solid #000;
      border-top: 2.5px solid transparent;
      border-bottom: 2.5px solid transparent;
      border-right: 0;
    }
  }

  @media only screen and (min-width: @screen-md) {
    top: 10px;
    left: 10px;
  }
  
  @media only screen and (min-width: @screen-lg) {
    top: 20px;
    left: 20px;
  }
}

.header-photo__description-wrapper {
  display: none;

  @media only screen and (min-width: @screen-lg) {
    display: block;

  }
}

.header-photo__description {
  padding-top: 15px;
  font-size: 0.8125rem;
  font-weight: bold;
}

.header-photo__author {
  padding-top: 5px;
  font-size: 0.8125rem;
  color: @grey-light;
}
