.css-lock (@property, @from, @to, @fromWidth: @screen-sm, @toWidth: @screen-md) {
  // y = ax + b
  // @{property}: @from;

  @a: (unit(@from - @to) * unit(@baseFontSize)) / unit(@fromWidth - @toWidth);

  @_from: unit(@from);
  @_fromWidth: unit(@fromWidth);
  @_baseFontSize: unit(@baseFontSize);

  @b: ~"@{_from} * @{_baseFontSize} * 1px - @{a} * @{_fromWidth} * 1px";

  @media (min-width: @fromWidth) {
    @{property}: calc(~"calc(@{a} * 100vw + @{b})");
  }

  @media (min-width: @toWidth) {
    @{property}: @to;
  }
}

.css-lock-px (@property, @from, @to, @fromWidth: @screen-sm, @toWidth: @screen-md) {
  // y = ax + b
  // @{property}: @from;

  @a: unit(@from - @to) / unit(@fromWidth - @toWidth);

  @_from: unit(@from);
  @_fromWidth: unit(@fromWidth);
  // @_baseFontSize: unit(@baseFontSize);

  @b: ~"@{_from} * 1px - @{a} * @{_fromWidth} * 1px";

  @media (min-width: @fromWidth) {
    @{property}: calc(~"calc(@{a} * 100vw + @{b})");
  }

  @media (min-width: @toWidth) {
    @{property}: @to;
  }
}

.date-card-mixin() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>span {
    font-family: 'Noto Serif', serif;
  }

  &__day {
    font-size: 1.125rem;
    .css-lock(font-size, 1.125rem, 2.25rem, @screen-md, @screen-lg);
    line-height: 1.3125rem;

    @media only screen and (min-width: @screen-lg) {
      line-height: 2.25rem;
    }
  }

  &__month {
    font-size: 0.875rem;  
    .css-lock(font-size, 0.875rem, 1.125rem, @screen-md, @screen-lg);
    line-height: 1.125rem;

    @media only screen and (min-width: @screen-lg) {
      line-height: 1.625rem;
    }
  }
}
