@import (css) 'reset.css';

@screen-sm: 320px;
@screen-md: 480px;
@screen-lg: 768px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.header,
.footer {
  min-width: @screen-sm;
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;

  @media only screen and (min-width: @screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (min-width: @screen-lg) {
    max-width: @screen-lg;
    margin: 0 auto;
  }
}

.header {
}

.header-title-wrapper {
  position: relative;
  height: 66px;

  @media only screen and (min-width: @screen-md) {
    height: 107px;
  }
}

.header-title {
  padding-top: 23px;
  line-height: 26px;
  font-size: 26px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;

  &:after {
    content: '';
    position: absolute;
    top: 44px;
    right: 0;
    left: 191px;
    display: block;
    height: 2px;
    background-color: #000;

    @media only screen and (min-width: @screen-md) {
      top: 75px;
      left: 283px;
    }
  }

  @media only screen and (min-width: @screen-md) {
    padding-top: 39px;
    font-size: 40px;
    line-height: 40px;
  }
}

.header-photo {
  position: relative;

  &__date {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 80px;
    height: 53px;
    background: rgba(255,255,255, 0.8);
    
    @media only screen and (min-width: @screen-md) {
      top: 10px;
      left: 10px;
    }
  }

  &__image {
    &>img {
      width: 100%;
      height: auto;
    }
  }
}

.header-photo__date,
.date-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>span {
    font-family: 'Noto Serif', serif;
  }
}

.header-photo__day,
.date-card__day {
  font-size: 18px;
  line-height: 21px;
}

.header-photo__month,
.date-card__month {
  font-size: 14px;
  line-height: 18px;
}

.page-content {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;

  @media only screen and (min-width: @screen-md) {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.photos-grid {
  position: relative;
  font-size: 0;
  // display: flex;
  // flex-wrap: wrap;
  // // justify-content: space-between;
  // margin-left: -3px;
  // margin-right: -3px;

  &:after {
    content: '';
    flex: auto;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 6px;

    @media only screen and (min-width: @screen-md) {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: @screen-md) {
    // margin-left: -5px;
    // margin-right: -5px;
  }
}

.photo-card,
.date-card {
  width: 73px;
  height: 48px;

  @media only screen and (min-width: @screen-md) {
    width: 80px;
    height: 53px;
  }
}

.photo-card > img {
  width: 100%;
}

.date-card {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 7px;
    bottom: 28px;
    display: block;
    width: 0;
    height: 0;
    border-left: 3px solid #000;
    border-top: 2.5px solid transparent;
    border-bottom: 2.5px solid transparent;
    border-right: 0;
  }
}

.ads {
  height: 80px;
  padding-left: 118px;
  margin: 3px 3px 11px 3px;
  background-color: #fbf6e8;
  background-image: url('./../images/ads.png');
  background-repeat: no-repeat;

  &__description {
    padding-top: 7px;
    letter-spacing: 0.55px;
    font-size: 10px;
    font-weight: 700;
    color: #bebebe;
  }

  &__title {
    padding-top: 5px;
    line-height: 16px;
    letter-spacing: 0.55px;
    font-size: 13px;
    font-weight: 700;
  }

  &__content {
    font-size: 12px;
    line-height: 16px;
    padding-top: 3px;
  }
  
  @media only screen and (min-width: @screen-md) {
    display: none;
  }
}

.additional-content {
  display: none;
  
  @media only screen and (min-width: @screen-md) {
    display: block;
    position: absolute;
  }
}

footer {
  padding-top: 14px;
  padding-bottom: 19px;
}

.pagination {
  display: flex;

}

.pagination__item > a {
  display: flex;
  width: 34px;
  height: 33px;
  margin-right: 1px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #000;
  text-decoration: none;

  &.active {
    background-color: #e6e6e6;
  }

  &.next {
    width: auto;
    margin-left: 21px;
  }
}